<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시글 상세</title>
    <link rel="stylesheet" href="headerCSS.css">
    <link rel="stylesheet" href="boardCSS.css">
</head>

<body>
<header>
    <div class="left">
        <img src="C:\Users\fhawn\Desktop\야구공 로고.png" alt="로고">
        <h2>웹페이지 이름</h2>
        <div class="menu">
            <button onclick="goToURL('일정 URL')">일정</button>
            <button onclick="goToURL('게시판 URL')">게시판</button>
            <button onclick="goToURL('기록 URL')">기록</button>
        </div>
    </div>

    <div class="right">
        <button onclick="goToURL('로그인 URL')">로그인</button>
        <button onclick="goToURL('회원가입 URL')">회원가입</button>
    </div>
</header>

<!--<div th:replace="header.html"></div>-->
<!--<th:block th:replace="~{header.html :: header}"></th:block>-->

<input type="hidden" id="board-id" th:value="${board.id}">
<div class="board-buttons">
    <a th:href="@{/boards}" class="on">목록</a>
    <button type="button" id="modify-btn"
            th:onclick="|location.href='@{/boards/new-board?id={id}(id=${board.id})}'|"
            class="btn btn-primary btn-sm">수정
    </button>
    <button id="delete-btn">삭제</button>
</div>
<div class="area">
    <div class="title" th:text="${board.title}">글 제목이 들어갑니다.</div>
    <hr>
    <div class="content-board" th:text="${board.content}">글 내용이 들어갑니다.</div>
    <hr>
    <div>
        작성일: <span th:text="${board.created_at}"></span>
    </div>
    <div>
        작성자: <span th:text="${board.nickname}"></span>
    </div>
</div>
<form method="post" class="comment-form">
    <textarea placeholder="댓글을 입력하세요" required></textarea>
    <button type="submit" class="on">댓글 달기</button>
</form>
<div class="area">
    <div>댓글 유저 정보</div>
    <div class="content">댓글 내용이 들어갑니다.</div>
    <form>
        <button type="submit">삭제</button>
    </form>
</div>

<script src="/js/board.js"></script>

</body>
</html>