<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>마이 페이지</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/mypage.css}" rel="stylesheet"/>
</th:block>

<body>
<header th:replace="~{/fragments/header}"></header>
<article th:fragment="content">
    <div class="wrap">
        <h1>마이 페이지</h1>
        <section class="user-info-section">
            <p th:text="'이메일 : '+${user.email}"></p>
            <p th:text="'닉네임 : '+${user.nickname}"></p>
            <div class="btn-div">
                <button class="ui-button" th:onclick="|location.href='@{/mypage/update/{userId}(userId=${user.id})}'|">정보 수정</button>
                <!-- 계정 삭제 처리 -->
                <form th:action="@{/mypage/{userId}(userId=${user.id})}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit">계정 삭제</button>
                </form>
                <button class="ui-button" th:if="${user.role eq 'admin'}" th:onclick="|location.href='/mypage/admin'|">관리자 페이지</button>
            </div>
        </section>
        <section class="board-table-section">
            <h3 class="table-title">내가 작성한 게시글</h3>
            <ul class="board-table-header">
                <li class="no">번호</li>
                <li class="title">제목</li>
                <li class="create-time">생성 일시</li>
            </ul>
            <ul class="board-table-body">
                <li th:each="board : ${boardPage.content}">
                    <p class="no" th:text="${board.id}"></p>
                    <a class="title" th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}"></a>
                    <p class="create-time" th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
                </li>
            </ul>
            <div th:if="${boardPage.totalPages > 0}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${not boardPage.hasPrevious()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?boardPage=0|}">
                            <span>처음</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${not boardPage.hasPrevious()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?boardPage=${boardPage.number - 1}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <!-- 페이지 번호 표시 -->
                    <li th:each="page : ${#numbers.sequence(0, boardPage.totalPages - 1)}"
                        th:classappend="${boardPage.number == page} ? 'active'">
                        <form th:action="@{|/mypage/${userId}|}" method="get">
                            <input type="hidden" name="boardPage" th:value="${page + 1}" />
                            <button type="submit" class="page-number" th:text="${page + 1}"></button>
                        </form>
                    </li>

                    <li class="page-item" th:classappend="${not boardPage.hasNext()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?boardPage=${boardPage.number + 1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${not boardPage.hasNext()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?boardPage=${boardPage.totalPages - 1}|}">
                            <span>마지막</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="comment-table-section">
            <h3 class="table-title">내가 작성한 댓글</h3>
            <ul class="comment-table-header">
                <li class="no">번호</li>
                <li class="comment">내용</li>
                <li class="move">게시글</li>
                <li class="create-time">생성 일시</li>
            </ul>
            <ul class="comment-table-body">
                <li th:each="comment, commentIndex : ${commentPage.content}">
                    <p class="no" th:text="${commentIndex.index + 1}"></p>
                    <p class="comment" th:text="${comment.content}"></p>
                    <a class="move" th:href="@{/boards/{boardId}(boardId=${comment.board.id})}">게시글로 이동</a>
                    <p class="create-time" th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
                </li>
            </ul>
            <div th:if="${commentPage.totalPages > 0}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${not commentPage.hasPrevious()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?commentPage=0|}">
                            <span>처음</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${not commentPage.hasPrevious()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?commentPage=${commentPage.number - 1}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <!-- 페이지 번호 표시 -->
                    <li th:each="page : ${#numbers.sequence(0, commentPage.totalPages - 1)}"
                        th:classappend="${commentPage.number == page} ? 'active'">
                        <a class="page-number" th:href="@{|/mypage/${userId}?commentPage=${page}|}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${not commentPage.hasNext()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?commentPage=${commentPage.number + 1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${not commentPage.hasNext()} ? 'disabled'">
                        <a class="page-link" th:href="@{|/mypage/${userId}?commentPage=${commentPage.totalPages - 1}|}">
                            <span>마지막</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</article>
</body>
</html>