<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시글 생성</title>

    <!-- TOAST UI Editor CDN URL(CSS)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <!--    <link rel="stylesheet" href="../../static/css/newBoardCSS.css">-->
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/newBoardCSS.css" />
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<input type="hidden" id="board-id" th:value="${board.id}">
<input type="hidden" id="team" th:value="${team}">
<h1 th:text="${team}"></h1>
<div class="board-title">
    <strong th:if="${board.id} == null">글쓰기</strong>
    <strong th:if="${board.id} != null">수정하기</strong>
</div>
<div>
    <input type="text" placeholder="제목 입력" id="title" th:value="${board.title}" required/>
    <hr>
    <input type="hidden" id="boardContent" th:value="${board.content}">
    <div id="editor"></div>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
    </script>
</div>

<div class="action-buttons">
    <a href="javascript:window.history.back();">취소</a>
    <button th:if="${board.id} == null" id="board-create-btn" class="on">등록</button>
    <button th:if="${board.id} != null" onclick="updateBoard()" class="on">수정</button>
</div>

<script src="/js/boardEditor.js"></script>


</body>
</html>