.year-selector {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 200px;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);
}

.year-selector button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;

    width: 25px;
    height: 25px;
}

.team-ranking-table {

    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);

    padding: 30px 20px;
}

.table-title {

    font-size: 30px;
    margin-bottom: 30px;
}

.team-ranking-detail-table-header li, .team-ranking-detail-table-body li{
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.team-ranking-detail-table-header li {

    background-color: #fff;
    border-bottom: solid 1px black;
}

.team-ranking-detail-table-body li:first-child {
    padding-top: 10px;
}

.team-ranking-detail-table-header p, .team-ranking-detail-table-body p {

    width: 65px;
}

.emblem {
    width: 40px;
    background-color: #fff;
}

.team-header {
    width: 140px;
    padding-left: 10px;
}

.team-header p {
    width: 30px;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;
    gap: 10px;
}

.team a {
    width: 85px;
}