<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>웹페이지 이름</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<header>
    <div class="left">
        <img src="C:\Users\fhawn\Desktop\야구공 로고.png" alt="로고">
        <h2>웹페이지 이름</h2>
        <div class="menu">
            <button onclick="goToURL('일정 URL')">일정</button>
            <button onclick="goToURL('게시판 URL')">게시판</button>
            <button onclick="goToURL('기록 URL')">기록</button>
        </div>
    </div>

    <div class="right">
        <button onclick="goToURL('로그인 URL')">로그인</button>
        <button onclick="goToURL('회원가입 URL')">회원가입</button>
    </div>
</header>
