<footer th:fragment="footer" class="footer">
    <div class="footer-wrapper">
        <div class="team-info">
            <img th:src="@{/images/logo.png}" alt="1사만루 로고" class="footer-img">
            <span>© 2024 일사만루, Team.</span>
        </div>
        <ul class="git-hub">
            <li> 일사만루, Team's Github.</li>
            <li class="tool-tip" title="강성훈 깃허브">
                <a href="https://github.com/fernandokkang" class="link-github-page">
                    <img th:src="@{/images/github-icon.png}" alt="깃허브" class="footer-img">
                </a>
            </li>
            <li class="tool-tip" title="김의찬 깃허브">
                <a href="https://github.com/euichan0927" class="link-github-page">
                    <img th:src="@{/images/github-icon.png}" alt="깃허브" class="footer-img">
                </a>
            </li>
            <li class="tool-tip" title="정인우 깃허브">
                <a href="https://github.com/jeonginwoo" class="link-github-page">
                    <img th:src="@{/images/github-icon.png}" alt="깃허브" class="footer-img">
                </a>
            </li>
        </ul>
    </div>
</footer>