<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>웹페이지 이름</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="header sticky-element">
    <ul>
        <li class="home-btn">
            <a th:href="@{/}">
                <img class="logo" th:src="@{/images/logo.png}">
                <h2>일사만루</h2>
            </a>
        </li>
    </ul>
    <ul>
        <li class="menu">
            <a th:href="@{/schedule(date = ${#dates.format(#dates.createNow(),'yyyy-MM-dd')})}">
                일정/결과
            </a>
            <div class="dropdown">
                <p th:text="'기록/순위'"></p>
                <ul class="dropdown-options">
                    <li>
                        <a th:href="@{/record}">선수 기록/순위</a>
                    </li>
                    <li>
                        <a th:href="@{/teamranking/detail}">팀 순위</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <p>게시판</p>
                <ul class="dropdown-options">
                    <li th:each="team : ${#strings.arraySplit('LG KT SSG NC 두산 KIA 롯데 삼성 한화 키움',' ')}">
                        <a th:href="@{'/boards'(team=${team})}" th:text="${team}"></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul>
        <li class="login">
            <div class="dropdown" th:if="${userName != null}">
                <p th:text="${userName}+'님 안녕하세요'"></p>
                <ul class="dropdown-options">
                    <li>
                        <a th:href="@{/mypage}">마이페이지</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </li>
        <li th:if="${userName == null}">
            <a th:href="@{/login}">로그인</a>
        </li>
        <li th:if="${userName == null}">
            <a th:href="@{/register}">회원가입</a>
        </li>
    </ul>
</div>

