<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>웹페이지 이름</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<header>
    <ul>
        <li class="home-logo">
            <a th:href="@{/}">
                <img th:src="@{/image/baseball.png}">
            </a>
            <h2>웹페이지 이름</h2>
        </li>
    </ul>
    <ul>
        <li class="menu">
            <a th:href="@{/schedule(date = ${#dates.format(#dates.createNow(),'yyyy-MM-dd')})}">
                일정/결과
            </a>
            <a th:href="@{/record}">
                기록/순위
            </a>
            <a th:href="@{/boards}">
                게시판
            </a>
        </li>
    </ul>
    <ul>
        <li class="login">
            <button class="ui-button" th:if="${loggedIn}" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
            <a class="ui-button" th:unless="${loggedIn}" th:href="@{/login}">로그인</a>
            <a class="ui-button" th:unless="${loggedIn}" th:href="@{/register}">회원가입</a>
        </li>
    </ul>
</header>
