<div class="more">
    <a th:href="@{/schedule(date = ${#dates.format(#dates.createNow(),'yyyy-MM-dd')})}" }>
        더보기
    </a>
</div>
<div class="table-title">
    경기 일정/결과
</div>
<div class="schedule-table-header">
    <div class="date-selector">
        <button th:value="${previous}" onclick="getDailySchedule(this.value)">&lt;</button>
        <p class="date" th:text="${date}"></p>
        <button th:value="${next}" onclick="getDailySchedule(this.value)">&gt</button>
    </div>
</div>
<div class="schedule-table-body">
    <ul>
        <li th:each="schedule: ${schedules}" th:value="${schedule.id}" onclick="goToGameResult(this.value)">
            <div class="away-div">
                <div>
                    <p th:text="${schedule.awayTeamName}"></p>
                    <p th:text="${schedule.awayStarter}"></p>
                </div>
                <img class="emblem" th:src="${schedule.awayTeamEmblemPath}">
            </div>
            <div class="info-div">
                <p th:if="${schedule.status} != 'vs'" th:text="${schedule.awayTeamRuns}"></p>
                <p th:text="${schedule.status}"></p>
                <p th:if="${schedule.status} != 'vs'" th:text="${schedule.homeTeamRuns}"></p>
            </div>
            <div class="home-div">
                <img class="emblem" th:src="${schedule.homeTeamEmblemPath}">
                <div>
                    <p th:text="${schedule.homeTeamName}"></p>
                    <p th:text="${schedule.homeStarter}"></p>
                </div>
            </div>
        </li>
        <li th:if="${schedules.isEmpty()}">
            <p th:text="'프로야구 경기가 없습니다.'"></p>
        </li>
    </ul>
</div>
