:root {
    --main_color: #28a745;  /* 메인 */

    --gray3: #7e7e7e;   /* 비활성 */
    --gray2: #e7e7e7;   /* 버튼 테두리 */
    --gray1: #f5f5f5;   /* 호버링 */
    --white: white;
    --black: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.left {
    display: flex;
    align-items: center;
}

.left button{
    font-size: 24px; /* 웹페이지 이름 버튼의 폰트 크기 */
    border: none;
    background: none;
    cursor: pointer;
}

.left img {
    width: 50px;
    margin-right: 10px;
}

.menu {
    display: flex;
    margin-left: 10px;
}

.menu button {
    margin-right: 5px;
    font-size: 16px;
}

/* 로그인/회원가입 버튼 스타일 */
.right button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer; /* 마우스 포인터 모양 변경 */
}

th {
    text-align: start;
    padding: 10px 20px;
}

td {
    padding: 2px 20px;
}

table td:nth-child(1),
table td:nth-child(2) {
    min-width: 67px;
}

table td:nth-child(4) {
    min-width: 167px;
}

table td:nth-child(5) {
    min-width: 80px;
}

.board-controls{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-button{
    border: none;
}

.ui-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    border: none;
}

.title {
    width: 100%;
}

.title a {
    display: inline-block;
    color: var(--main_color);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.title a:hover {
    background-color: var(--gray1);
}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
}

.page-item {
    margin: 0 2px;
    list-style: none;
}

.page-link {
    display: block;
    padding: 0.5rem 0.75rem;
    color: var(--main_color);
    background-color: transparent;
    border: 1px solid var(--gray2);
    border-radius: 0.25rem;
    text-decoration: none;
}

.page-link:hover {
    background-color: var(--gray1);
}

.page-item.active .page-link {
    z-index: 1;
    color: var(--white);
    background-color: var(--main_color);
    border-color: var(--main_color);
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: var(--gray3);
    background-color: var(--white);
    border-color: var(--gray2);
}
