:root {
    --main_color: #28a745;  /* 메인 */

    --gray3: #7e7e7e;   /* 비활성 */
    --gray2: #e7e7e7;   /* 버튼 테두리 */
    --gray1: #f5f5f5;   /* 호버링 */
    --white: white;
    --black: black;
}

.board-table-section {

    padding: 30px;

    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);
}

.board-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    border-bottom: solid 1px black;
}

.ui-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    border: none;
}

.table-title {
    font-size: 40px;
    padding: 20px 10px;
}

.board-table-header li {

    display: flex;
    padding: 10px 0;
    text-align: center;

    border-bottom: solid 1px white;
}

.board-table-body li {

    display: flex;
    padding: 10px 0 10px 0px;
    text-align: center;
}

.no {
    width: 60px;
    margin: 0 10px;
}

.title {
    width: 500px;
    text-align: left;
}

.author {
    width: 170px;
}

.create-time {
    width: 170px;
}

.hits {
    width: 60px;
    margin: 0 10px;
}

.title a:hover {
    background-color: var(--gray1);
}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
}

.page-item {
    margin: 0 2px;
    list-style: none;
}

.page-link {
    display: block;
    padding: 0.5rem 0.75rem;
    color: var(--main_color);
    background-color: transparent;
    border: 1px solid var(--gray2);
    border-radius: 0.25rem;
    text-decoration: none;
}

.page-link:hover {
    background-color: var(--gray1);
}

.page-item.active .page-link {
    z-index: 1;
    color: var(--white);
    background-color: var(--main_color);
    border-color: var(--main_color);
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: var(--gray3);
    background-color: var(--white);
    border-color: var(--gray2);
}
