@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'BMJUA';
}

body, html {
    height: 100%;
    width: auto;
}

.header {
    height: 10%
}

.content {
    height:100%;
}

.footer {
    height: 0%
}

ul,li {
    margin:0;
    padding:0;
}