.home-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px;
    margin: 80px;
}

.home-content section {
    flex: 0 0 auto;
    padding: 20px;

    text-align: center;
}

.more {

    font-size: 16px;
    font-weight: normal;
    text-align: right;
    color: #000;
    background-color: #ffffff;
}

.more > a:hover {
    text-decoration: none;
}

.tableTitle {
    align-self: stretch;
    flex-grow: 0;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    color: #000;
    background-color: #ffffff;
}

.team-ranking, .schedule, .playerRanking {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);
}

.teamRankingTable, .scheduleTable, .playerRankingTable {
    width: 100%;
    height: 100%;

    padding: 20px 10px;
}

.teamRankingTableHead, .scheduleTableHead, .playerRankingTableHead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #fff;
    border-bottom: solid 1px black;
}

.scheduleTableHead button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;

    width: 25px;
    height: 25px;
}

.teamRankingTableBody, .scheduleTableBody, .playerRankingTableBody {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #fff;
    border-bottom: solid 1px black;
}

.date {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.rank, .team, .game, .win, .draw, .lose, .winPercent, .winMargin, .awayTeam, .aPitcher, .homeTeam, .hPitcher, .record, .avg, .hits, .rbi, .hr, .wins, .era, .so, .sv, .name, .awayScore, .homeScore, .status {
    width: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.teamRankingTableHead > .team {

    padding-left: 20px;
}

.winPercent {
    width: 50px;
}

.team {
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.emblem {
    width: 65px;
    height: 50px;
    background-color: #fff;
}

.away-div, .home-div {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}