.wrap-index {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px 0;
    margin: 80px;
}

.home-content {
    flex: 0 0 auto;
    padding: 20px;

    text-align: center;
}

.more {

    font-size: 16px;
    text-align: right;
    margin-bottom: 20px;
}

.table-title {
    font-size: 36px;
    text-align: center;

    margin-bottom: 30px;
}

.team-ranking-table, .schedule-table, .player-ranking-table {

    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);

    height: 575px;
}

.team-ranking-table-header li, .team-ranking-table-body li {

    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.team-ranking-table-header li {

    border-bottom: solid 1px black;
}

.team-ranking-table-header p, .team-ranking-table-body p {
    width: 35px;
}

.team-ranking-table-header p:nth-child(7), .team-ranking-table-body p:nth-child(7) {
    width: 55px;
}

.team-ranking-table-body {
    padding-top: 10px;
}

.team-header {
    width: 135px;
}

.team-header p {
    width: 30px;
}

.team {
    display: flex;
    align-items: center;
    text-align: left;

    width: 135px;
    gap: 10px;
}

.team a {
    width: 85px;
}

.date-selector {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    gap: 10px;
}

.emblem {
    width: 40px;
    height: 30px;
    background-color: #fff;
}

.schedule-table-header, .schedule-table-body li {

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}

.schedule-table-header {
    padding-bottom: 10px;
}

.schedule-table-body li {

    height: 80px;
    gap: 15px;
}

.away-div, .home-div {

    display: flex;
    align-items: center;
    gap: 10px;

    width: 150px;
}

.away-div {
    justify-content: right;
}

.info-div {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 70px;
}

.away-score, .home-score {
    width: 20px;
}

.status {
    width: 30px;
}

.red-text {
    color: red;
}

.no-game {
    width: 400px;
    text-align: center;
}

.player-ranking-table-header li, .player-ranking-table-body li {

    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.player-ranking-table-header li {
    border-bottom: solid 1px black;
}

.player-ranking-table-header p {
    width: 50px;
}

.player-ranking-table-body {
    padding-top: 10px;
}

.blue-text {
    color: blue;
}

.rank {
    width: 50px;
}

.player-name {
    width: 80px;
    text-align: left;
    margin-right: 20px;
}

.record {
    width: 115px;
    text-align: center;
    padding-left: 55px;
}