.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px;
    margin: 80px;
}

.home-content {
    flex: 0 0 auto;
    padding: 20px;

    text-align: center;
}

.more {

    font-size: 16px;
    text-align: right;
    margin-bottom: 20px;
}

.table-title {
    font-size: 36px;
    text-align: center;

    margin-bottom: 30px;
}

.team-ranking-table, .schedule, .playerRanking {

    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);
}

.team-ranking-table-header li, .team-ranking-table-body li {

    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.team-ranking-table-header li {

    border-bottom: solid 1px black;
}

.team-ranking-table-body li:first-child {

    padding-top: 10px;
}

.team-ranking-table-header p, .team-ranking-table-body p {
    width: 60px;
}

.team-header {
    width: 135px;
}

.team-header p {
    width: 30px;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 135px;
    gap: 10px;
}

.team a {
    width: 85px;
}

.emblem {
    width: 40px;
    background-color: #fff;
}

.away-div, .home-div {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}