.wrap {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.info-section {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

.gap-batter {
    gap: 480px;
}

.gap-pitcher {
    gap: 620px;
}

.emblem {
    width: 250px;
    height: 200px;
}

.name-div {
    display: flex;
    gap: 10px;
}

.player-info {
    width: 450px;
}

.player-info-top, .player-info-bot {

    display: flex;
    justify-content: space-between;
    margin: 10px;

    color: white;
    font-size: 36px;
}

.record-table {

    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);

    padding: 50px;
}

.record-table {

    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);

    padding: 35px;
}

.record-table-header ul {

    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid black 1px;
}

.record-table-header li, .record-table-body li {

    display: flex;
    text-align: center;
    justify-content: center;
}

.record-table-header p, .record-table-body p {

    width: 45px;
}

.record-table-body li:last-child {

    padding-bottom: 10px;
    border-bottom: solid black 1px;
}