.container {
    display: flex;
    justify-content: center;

    gap: 30px;
}

.lineup-column {
    flex-basis: 20%;
    width: 375px;
    height: 50vh;
    padding: 5px;
    border-radius: 10px;

    overflow-y: auto;
}

.player-column {

    flex-basis: 20%;
    width: 375px;
    height: 50vh;
    padding: 5px;
    border-radius: 10px;

    overflow-y: auto;
}
.title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.list-group-item {

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 300px;
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.order {
    width: 50px;
}

.uniform-no {
    padding: 0 5px;
    text-align: left;
}

.column::-webkit-scrollbar {
    display: none;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}