<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>경기 결과</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/gameResult.css}" rel="stylesheet"/>
</th:block>

<div th:replace="~{/fragments/header}"></div>
<main th:fragment="content">
    <div class="wrap">
        <section class="game-selector-group">
            <ul th:each="schedule : ${result.dailySchedules}">
                <li th:value="${schedule.id}" onclick="goToGameResult(this.value)">
                    <div class="game-selector">
                        <span th:if="${schedule.status == 'vs'}" class="blue-text" th:text="'예정'"></span>
                        <span th:if="${schedule.status == '취소'}" class="red-text" th:text="${schedule.status}"></span>
                        <span th:if="${schedule.status == '종료'}" th:text="${schedule.status}"></span>
                        <div class="away-div">
                            <div class="team">
                                <img class="emblem" th:src="${schedule.awayTeamEmblemPath}">
                                <p th:text="${schedule.awayTeamName}"></p>
                            </div>
                            <p th:text="${schedule.status == '종료'} ? ${schedule.awayTeamRuns}"></p>
                        </div>
                        <div class="home-div">
                            <div class="team">
                                <img class="emblem" th:src="${schedule.homeTeamEmblemPath}">
                                <p th:text="${schedule.homeTeamName}"></p>
                            </div>
                            <p th:text="${schedule.status == '종료'} ? ${schedule.homeTeamRuns}"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section class="score-board">
            <div class="score-board-head">
                <div class="score-board-away">
                    <p th:text="${result?.gameInfo?.awayTeamName}"></p>
                    <img th:src="${result?.gameInfo?.awayEmblemPath}">
                    <p th:text="${result?.scoreBoard?.awayRuns}"></p>
                </div>
                <div class="game-info">
                    <p th:if="${result.gameInfo.status == 'vs'}" class="blue-text" th:text="'예정'"></p>
                    <p th:if="${result.gameInfo.status == '취소'}" class="red-text"
                       th:text="${result.gameInfo.status}"></p>
                    <p th:if="${result.gameInfo.status == '종료'}" th:text="${result.gameInfo.status}"></p>
                    <p th:text="${result?.gameInfo?.date}"></p>
                    <p th:text="${result?.gameInfo?.time}"></p>
                    <p th:text="${result?.gameInfo?.stadium}"></p>
                </div>
                <div class="score-board-home">
                    <p th:text="${result?.scoreBoard?.homeRuns}"></p>
                    <img th:src="${result?.gameInfo?.homeEmblemPath}">
                    <p th:text="${result?.gameInfo?.homeTeamName}"></p>
                </div>
            </div>
            <div class="score-board-body">
                <div class="score-board-body-top">
                    <li>
                        <h2 class="team-name" th:text="팀"></h2>
                    </li>
                    <ul>
                        <li th:each="inning: ${#numbers.sequence(1, 12)}">
                            <p th:text="${inning}"></p>
                        </li>
                    </ul>
                    <ul>
                        <li th:each="value : ${#strings.arraySplit('R H E B',' ')}">
                            <p th:text="${value}"></p>
                        </li>
                    </ul>
                </div>
                <div class="score-board-body-away">
                    <ul>
                        <li>
                            <h2 class="team-name"
                                th:text="${#strings.listSplit(result?.gameInfo?.awayTeamName,' ')[0]}"></h2>
                        </li>
                    </ul>
                    <ul>
                        <li th:each="score: ${#strings.arraySplit(result?.scoreBoard?.awayScore,',')}">
                            <p th:text="${score}"></p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p th:text="${result?.scoreBoard?.awayRuns}"></p>
                        </li>
                        <li th:each="stat: ${#strings.arraySplit(result?.scoreBoard?.awayStats,',')}">
                            <p th:text="${stat}"></p>
                        </li>
                    </ul>
                </div>
                <div class="score-board-body-home">
                    <ul>
                        <li>
                            <h2 class="team-name"
                                th:text="${#strings.listSplit(result?.gameInfo?.homeTeamName,' ')[0]}"></h2>
                        </li>
                    </ul>
                    <ul>
                        <li th:each="score : ${#strings.arraySplit(result?.scoreBoard?.homeScore,',')}">
                            <p th:text="${score}"></p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p th:text="${result?.scoreBoard?.homeRuns}"></p>
                        </li>
                        <li th:each="stat : ${#strings.arraySplit(result?.scoreBoard?.homeStats,',')}">
                            <p th:text="${stat}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="lineup">
            <h1>타자 기록</h1>
            <div class="batter-lineup">
                <div class="away-batter-lineup">
                    <a class="create-lineup"
                       th:text="'원정팀 라인업 추가'" th:href="@{/lineup/create(team = ${#strings.listSplit(result?.gameInfo?.awayTeamName,' ')[0]},
                       type = 'batter', gameCode = ${gameCode})}"></a>
                    <ul class="lineup-header">
                        <li>
                            <div class="team">
                                <img class="emblem" th:src="${result?.gameInfo?.awayEmblemPath}">
                                <p th:text="${#strings.listSplit(result?.gameInfo?.awayTeamName,' ')[0]}"></p>
                            </div>
                            <p th:each="value : ${#strings.arraySplit('타수 득점 안타 타점 홈런 볼넷 삼진 타율',' ')}"
                               th:text="${value}"></p>
                        </li>
                    </ul>
                    <ul class="lineup-body">
                        <li th:each="batter : ${result?.awayBatterLineup}">
                            <p class="order" th:text="${batter?.positionId} >= 11 ? '교' : ${batter?.order}"></p>
                            <a class="player-name" th:href="@{/player/info(id = ${batter.playerId}, positionId = 2)}"
                               th:text="${batter?.playerName}"></a>
                            <p class="position" th:text="${batter?.position}"></p>
                            <p class="ab" th:text="${batter?.ab}"></p>
                            <p class="runs" th:text="${batter?.runs}"></p>
                            <p class="hits" th:text="${batter?.hits}"></p>
                            <p class="rbi" th:text="${batter?.rbi}"></p>
                            <p class="hr" th:text="${batter?.homeruns}"></p>
                            <p class="bb" th:text="${batter?.bb}"></p>
                            <p class="so" th:text="${batter?.so}"></p>
                            <p class="avg" th:text="${#numbers.formatDecimal(batter?.avg,1,3)}"></p>
                        </li>
                    </ul>
                </div>
                <div class="home-batter-lineup">
                    <a class="create-lineup" th:text="'홈팀 라인업 추가'"
                       th:href="@{/lineup/create(team = ${#strings.listSplit(result?.gameInfo?.homeTeamName,' ')[0]}, type = 'batter',
                    gameCode = ${gameCode})}"></a>
                    <ul class="lineup-header">
                        <li>
                            <div class="team">
                                <img class="emblem" th:src="${result?.gameInfo?.homeEmblemPath}">
                                <p th:text="${#strings.listSplit(result?.gameInfo?.homeTeamName,' ')[0]}"></p>
                            </div>
                            <p th:each="value : ${#strings.arraySplit('타수 득점 안타 타점 홈런 볼넷 삼진 타율',' ')}"
                               th:text="${value}"></p>
                        </li>
                    </ul>
                    <ul class="lineup-body">
                        <li th:each="batter : ${result?.homeBatterLineup}">
                            <p class="order" th:text="${batter?.positionId} >= 11 ? '교' : ${batter?.order}"></p>
                            <a class="player-name" th:href="@{/player/info(id = ${batter.playerId}, positionId = 2)}"
                               th:text="${batter?.playerName}"></a>
                            <p class="position" th:text="${batter?.position}"></p>
                            <p class="ab" th:text="${batter?.ab}"></p>
                            <p class="runs" th:text="${batter?.runs}"></p>
                            <p class="hits" th:text="${batter?.hits}"></p>
                            <p class="rbi" th:text="${batter?.rbi}"></p>
                            <p class="hr" th:text="${batter?.homeruns}"></p>
                            <p class="bb" th:text="${batter?.bb}"></p>
                            <p class="so" th:text="${batter?.so}"></p>
                            <p class="avg" th:text="${#numbers.formatDecimal(batter?.avg,1,3)}"></p>
                        </li>
                    </ul>
                </div>
            </div>
            <h1>투수 기록</h1>
            <div class="pitcher-lineup">
                <div class="away-pitcher-lineup" th:if="${result.awayPitcherLineup != null}">
                    <a class="create-lineup" th:text="'원정팀 라인업 추가'" th:href="@{/lineup/create
                    (team = ${#strings.listSplit(result?.gameInfo?.awayTeamName,' ')[0]}, type = 'pitcher',
                    gameCode = ${gameCode})}"></a>
                    <ul class="lineup-header">
                        <li>
                            <div class="team">
                                <img class="emblem" th:src="${result?.gameInfo?.awayEmblemPath}">
                                <p th:text="${#strings.listSplit(result?.gameInfo?.awayTeamName,' ')[0]}"></p>
                            </div>
                            <p class="inning">이닝</p>
                            <p class="phits">피안타</p>
                            <p class="pruns">실점</p>
                            <p class="er">자책</p>
                            <p class="bb">볼넷</p>
                            <p class="so">삼진</p>
                            <p class="phr">피홈런</p>
                            <p class="np">투구</p>
                            <p class="era">ERA</p>
                        </li>
                    </ul>
                    <ul class="lineup-body">
                        <li th:each="pitcher : ${result?.awayPitcherLineup}">
                            <div>
                                <p th:if="${pitcher?.decision == 'W'}" class="dec blue-text" th:text="'승'"></p>
                                <p th:if="${pitcher?.decision == 'L'}" class="dec red-text" th:text="'패'"></p>
                                <p th:if="${pitcher?.decision == 'HD'}" class="dec" th:text="'홀'"></p>
                                <p th:if="${pitcher?.decision == 'SV'}" class="dec green-text" th:text="'세'"></p>
                                <p th:unless="${pitcher?.decision == 'W' or pitcher?.decision == 'L' or pitcher?.decision == 'HD' or pitcher?.decision == 'SV'}" class="dec" th:text="''"></p>
                            </div>
                            <a class="player-name" th:href="@{/player/info(id = ${pitcher.playerId}, positionId = 1)}"
                               th:text="${pitcher?.playerName}"></a>
                            <p class="inning" th:text="${pitcher?.innings}"></p>
                            <p class="phits" th:text="${pitcher?.hits}"></p>
                            <p class="pruns" th:text="${pitcher?.runs}"></p>
                            <p class="er" th:text="${pitcher?.earnedRun}"></p>
                            <p class="bb" th:text="${pitcher?.bb}"></p>
                            <p class="so" th:text="${pitcher?.so}"></p>
                            <p class="phr" th:text="${pitcher?.homeruns}"></p>
                            <p class="np" th:text="${pitcher?.np}"></p>
                            <p class="era" th:text="${#numbers.formatDecimal(pitcher?.era,1,2)}"></p>
                        </li>
                    </ul>
                </div>
                <div class="home-pitcher-lineup" th:if="${result.homePitcherLineup != null}">
                    <a class="create-lineup" th:text="'홈팀 라인업 추가'" th:href="@{/lineup/create
                    (team = ${#strings.listSplit(result?.gameInfo?.homeTeamName,' ')[0]}, type = 'pitcher',
                    gameCode = ${gameCode})}"></a>
                    <ul class="lineup-header">
                        <li>
                            <div class="team">
                                <img class="emblem" th:src="${result?.gameInfo?.homeEmblemPath}">
                                <p th:text="${#strings.listSplit(result?.gameInfo?.homeTeamName,' ')[0]}"></p>
                            </div>
                            <p class="inning">이닝</p>
                            <p class="phits">피안타</p>
                            <p class="pruns">실점</p>
                            <p class="er">자책</p>
                            <p class="bb">볼넷</p>
                            <p class="so">삼진</p>
                            <p class="phr">피홈런</p>
                            <p class="np">투구</p>
                            <p class="era">ERA</p>
                        </li>
                    </ul>
                    <ul class="lineup-body">
                        <li th:each="pitcher : ${result?.homePitcherLineup}">
                            <div>
                                <p th:if="${pitcher?.decision == 'W'}" class="dec blue-text" th:text="'승'"></p>
                                <p th:if="${pitcher?.decision == 'L'}" class="dec red-text" th:text="'패'"></p>
                                <p th:if="${pitcher?.decision == 'HD'}" class="dec" th:text="'홀'"></p>
                                <p th:if="${pitcher?.decision == 'SV'}" class="dec green-text" th:text="'세'"></p>
                                <p th:unless="${pitcher?.decision == 'W' or pitcher?.decision == 'L' or pitcher?.decision == 'HD' or pitcher?.decision == 'SV'}" class="dec" th:text="''"></p>
                            </div>
                            <a class="player-name" th:href="@{/player/info(id = ${pitcher.playerId}, positionId = 1)}"
                               th:text="${pitcher?.playerName}"></a>
                            <p class="inning" th:text="${pitcher?.innings}"></p>
                            <p class="phits" th:text="${pitcher?.hits}"></p>
                            <p class="pruns" th:text="${pitcher?.runs}"></p>
                            <p class="er" th:text="${pitcher?.earnedRun}"></p>
                            <p class="bb" th:text="${pitcher?.bb}"></p>
                            <p class="so" th:text="${pitcher?.so}"></p>
                            <p class="phr" th:text="${pitcher?.homeruns}"></p>
                            <p class="np" th:text="${pitcher?.np}"></p>
                            <p class="era" th:text="${#numbers.formatDecimal(pitcher?.era,1,2)}"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</main>
<div th:replace="~{/fragments/footer}"></div>
<script th:src="@{/js/divClick.js}"></script>
</html>