<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>홈</title>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</th:block>

<body>
<header th:replace="~{/fragments/header}"></header>
<article th:fragment="content">
    <div class="home-contents">
        <section class="team-ranking">
            <div class="more">
                <a href="/teamranking/detail">
                    더보기
                </a>
            </div>
            <div class="tableTitle" th:text="'KBO리그 팀 순위'">
            </div>
            <div class="teamRankingTable">
                <li class="teamRankingTableHead">
                    <div class="rank">순위</div>
                    <div class="team">팀</div>
                    <div class="game">경기</div>
                    <div class="win">승</div>
                    <div class="lose">패</div>
                    <div class="draw">무</div>
                    <div class="winPercent">승률</div>
                    <div class="winMargin">승차</div>
                </li>
                <ul th:each="ranking:${teamRanking}">
                    <li class="teamRankingTableBody">
                        <div class="rank" th:text="${ranking.rank}"></div>
                        <div class="team">
                            <img class="emblem" th:src="${ranking.emblemPath}">
                            <span th:text="${ranking.teamName}"></span>
                        </div>
                        <div class="game" th:text="${ranking.game}"></div>
                        <div class="win" th:text="${ranking.win}"></div>
                        <div class="lose" th:text="${ranking.lose}"></div>
                        <div class="draw" th:text="${ranking.draw}"></div>
                        <div class="winPercent" th:text="${#numbers.formatDecimal(ranking.winPercent, 1, 3)}"></div>
                        <div class="winMargin" th:text="${ranking.winMargin}"></div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="schedule">
            <div class="more">
                <a>
                    더보기
                </a>
            </div>
            <div class="tableTitle">
                경기 일정/결과
            </div>
            <div class="scheduleTable">
                <div class="scheduleTableHead">
                    <button>&lt;</button>
                    <span class="date" th:text="${#dates.format(#dates.createNow(), 'MM.dd (E)')}"></span>
                    <button>&gt;</button>
                </div>
                <ul th:each="schedule:${schedules}">
                    <li class="scheduleTableBody">
                        <div class="away-div">
                            <div>
                                <span th:text="${schedule.awayTeamName}"></span>
                                <span th:text="${schedule.awayStarter}"></span>
                            </div>
                            <img class="emblem" th:src="${schedule.awayTeamEmblemPath}">
                        </div>
                        <div>
                            <span th:if="${schedule.status} != 'vs'" th:text="${schedule.awayTeamRuns}"></span>
                            <span th:text="${schedule.status}"></span>
                            <span th:if="${schedule.status} != 'vs'" th:text="${schedule.homeTeamRuns}"></span>
                        </div>
                        <div class="home-div">
                            <img class="emblem" th:src="${schedule.homeTeamEmblemPath}">
                            <div>
                                <span th:text="${schedule.homeTeamName}"></span>
                                <span th:text="${schedule.homeStarter}"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="playerRanking">
            <div class="more">
                <a>
                    더보기
                </a>
            </div>
            <div class="tableTitle">
                KBO리그 개인 순위
            </div>
            <div class="playerRankingTable">
                <li class="playerRankingTableHead">
                    <div class="avg">타율</div>
                    <div class="hits">안타</div>
                    <div class="rbi">타점</div>
                    <div class="hr">홈런</div>
                    <div class="wins">다승</div>
                    <div class="era">평자</div>
                    <div class="so">삼진</div>
                    <div class="sv">구원</div>
                </li>
                <ul class="playerRankingTableBody" th:each="record, status :${records}" th:if="${status.index < 10}">
                    <li>
                        <div th:text="${status.index}+1"></div>
                        <div th:text="${record.playerName}"></div>
                        <div>
                            <img class="emblem" th:src="${record.emblemPath}">
                            <span th:text="${record.teamName}"></span>
                        </div>
                        <div th:text="${#numbers.formatDecimal(record.avg,1,3)}"></div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</article>
</body>
</html>