<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>홈</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link th:href="@{/css/newBoard.css}" rel="stylesheet"/>
</th:block>

<div th:replace="~{fragments/header.html}"></div>
<input type="hidden" id="board-id" th:value="${board.id}">
<input type="hidden" id="team" th:value="${team}">
<main th:fragment="content">
    <div class="wrap">
        <section class="board-editor-section">
            <span class="title" th:text="${fullName}+' '"></span>
            <span class="title" th:text="'게시판 '+${board.id == null ? '글 쓰기' : '글 수정하기'}"></span>
            <div>
                <input class="input-title" type="text" placeholder="제목 입력" id="title" maxlength="50" th:value="${board.title}" required/>
                <input type="hidden" id="boardContent" th:value="${board.content}">
                <div id="editor"></div>
                <div id="character-count"></div>
                <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
            </div>
            <div class="action-buttons">
                <a href="javascript:window.history.back();">취소</a>
                <button th:if="${board.id} == null" id="board-create-btn" class="on">등록</button>
                <button th:if="${board.id} != null" onclick="updateBoard()" class="on">수정</button>
            </div>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script src="/js/boardEditor.js"></script>
</html>